<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>
    
    <div style="display: flex; align-items: center; gap: 10px;">
  <a href="/">Home</a>
  
  <% if session["user_id"] %>
    <span>Logged in as: <%= User.find(session["user_id"]).username %></span>
    <%= button_to "Logout", "/logout", method: :delete, data: { turbo: false }, class: "logout-button" %>
  <% else %>
    <%= link_to "Login", "/login" %> |
    <%= link_to "Signup", "/users/new" %>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
